# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.pdb
*.tlog
#.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build/win/.vs
/build/win/Libraries-64-Release
/build/win/gemini/x64
/build/win/gemini/Debug
/third_party
/Permission
/ddddd
/build/win/gemini/.vs/gemini/v15
/build/win/gemini/gemini.VC.db
